# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*          @ranajahanzaib @Shoaibv2 @Nadiakhanv2 @Abdullah-k
/.github/  @ranajahanzaib

/packages/kindlenext-utils/          @ranajahanzaib
/packages/kindlenext-ui/             @ranajahanzaib @Shoaibv2 @Nadiakhanv2 @Abdullah-k
